@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffffff;
  color: #222222;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
}

.category-scroll::-webkit-scrollbar {
  display: none;
}

.category-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
